body {
  background: black;
  padding: 60px;
}

img {
  max-width: 704px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.logo {
  margin-bottom: 20px;
}

a {
  margin: 0 auto;
  display: block;
  max-width: 704px;
  width: 100%;
  margin-top: 20px;
}

